version: '3.1'

services:
  web:
    depends_on:
      - fpm
    image: nginx:1.13
    ports:
      - "8080:80"
    volumes:
      - ./app:/app
      - ./config/site.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

  mta:
    build:
      context: ./config
      dockerfile: Dockerfile-mta
    volumes:
      - ./mail:/var/spool/postfix
    networks:
      - app-network

  pubsub:
    build:
      context: ./config
      dockerfile: Dockerfile-pubsub
    volumes:
      - ./app:/app
      - ./db_data:/db
    command: ["php", "/app/pubsub.php"]
    ports:
      - "8081:8080"
    networks:
      - app-network
    environment:
      TILMELD_SECRET_FILE: /run/secrets/tilmeld_secret
    secrets:
      - tilmeld_secret

  fpm:
    depends_on:
      - mta
      - pubsub
    build:
      context: ./config
      dockerfile: Dockerfile-fpm
    volumes:
      - ./app:/app
      - ./db_data:/db
      - ./maintenance:/maintenance
    networks:
      - app-network
    environment:
      PUBSUB_HOST: pubsub:8080
      TILMELD_SECRET_FILE: /run/secrets/tilmeld_secret
    secrets:
      - tilmeld_secret

networks:
  app-network:
    driver: bridge

secrets:
  tilmeld_secret:
    file: tilmeld_secret.txt
